appnope 
asttokens 
comm 
contourpy
cycler
debugpy 
decorator 
exceptiongroup 
executing 
filelock
fonttools
fsspec
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
jedi 
Jinja2
joblib
jupyter_client 
jupyter_core 
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline 
mpmath
nest_asyncio 
networkx
numpy
packaging 
pandas
parso 
pexpect 
pickleshare 
pillow
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
Pygments 
pyparsing
python-dateutil 
pytz
pyzmq 
scikit-learn
scipy
seaborn
setuptools
six 
stack_data 
sympy
threadpoolctl
torch
torchaudio
torchvision
tornado 
traitlets 
typing_extensions 
tzdata
wcwidth 
zipp 
